# ML
ffmpeg < 4.4
matplotlib==3.8
numpy
sounddevice
diart
SpeechRecognition
uvicorn
pyaudio
pyannote.audio
pyAudioAnalysis
hmmlearn
eyed3
pydub
imblearn
plotly

# Have to downgrade to match HF svc trained models.
# scikit-learn==0.24.2

# Data
pymongo

# API
whisper-timestamped
fastapi
uvicorn
flask
flask-socketio

# Debug DO NOT REMOVE
debugpy