debugpy
diart
eyed3
fastapi
ffmpeg < 4.4
flask
flask-socketio
flask-sockets
gevent
hmmlearn
imblearn
jinja2
matplotlib==3.8
numpy
plotly
pocketsphinx
pyannote.audio
pyaudio
pyAudioAnalysis
pydub
pymongo
sounddevice
SpeechRecognition
transformers
uvicorn
uvicorn
websockets
whisper-timestamped